:root {
    --color-primary: #F1F3F9;
    --color-secondary: #1147A3;
    --color-text-light: #fff;
    --color-text-dark: #000;
    --color-text-aux: #97A7C2;
    --color-aux: #435471;
    --color-answer: #dde3ec;
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    height: 100%;
    min-height: -webkit-fill-available;
}
body {
    font-family: 'Poppins', sans-serif;
    min-height: -webkit-fill-available;
    background-color: var(--color-primary);
}

.container {
    max-width: 1140px;
    margin: auto;

}
.container-calculadora {
    height: calc(100vh + 60px);
    width: 100%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input-calc {
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid rgba(17, 71, 163, 0.30);
    outline: 0;
}
.grow:hover
{
        -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
        transform: scale(1.1);
}



.bar {
    width: 100%;
    background-color: var(--color-secondary);
    height: 2px;
}

.background {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100vh;        
}
.background-calc {
    height: calc(100vh + 60px);
}

.menu-icon {
    height: 50px;
    width: 50px;
}

.btn--pagseguro-area, .box--btn-pagseguro {
    text-align: center;
    width: 100%;
}

.header--glass {
    background: linear-gradient(180deg, rgba(97, 97, 97, 0.4) 0%, rgba(255,255,255,0) 100%);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    position: absolute;
    right: 0;
    left: 0;
    z-index:110;
 
}

.header--area {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-light);
    border-radius: 10px;
    padding: 0 20px;
}

.header--logo {
    font-size: 24px;
    font-weight: 300;
}

.header--logo-text {
    text-decoration: none;
    color: var(--color-text-light);
}
.header--logo-text:hover {
    color: var(--color-text-aux);
}
.button-comprar {
    cursor: pointer;
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 50px;
    border: none;
    box-shadow: 0px 4px 5px rgb(22, 22, 22);
}
.button-comprar:hover {
    color: var(--color-secondary);
    background-color: var(--color-primary);
}
.header--menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.header--menu-list {
    list-style: none;
    display: flex;
    justify-content: center;
}
.header--menu-list-item {
    padding-left: 50px;
    font-size: 16px;
    font-weight: 300;
    text-decoration: none;
    color: var(--color-text-light);
}
.header--menu-list-item:hover{
    color: var(--color-text-aux);
}
.header--menu-icon-area {
    display: none;
}




.inicio--area {
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--color-text-light);
}

.inicio--center {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.inicio--center-left {
    width: 400px;
}
.inicio--text-h3 {
    font-size: 30px;
    font-weight: 300;
}
.inicio--text-h2 {
    font-size: 40px;
    font-weight: 400;
}
.inicio--text-p ,.inicio--text-h1 {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-weight: 200;
}
.inicio--text-span {
    font-size: 25px;
    font-weight: 200;
}
.inicio-bottom {
    background-color: var(--color-aux);
    color: var(--color-text-light);
    width: 143px;
    border-radius: 50px;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    padding: 5px 15px;
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    box-shadow: 0px 4px 5px rgb(22, 22, 22);
}

.inicio-bottom:hover {
    color: var(--color-text-aux);
    background-color: var(--color-secondary);
}


.section--area {
    background-color: var(--color-primary);
    height: 500px;
    padding-top: 60px;
}

.section-top {
    width: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;

}
.section--title {
    font-size: 30px;
    font-weight: 300;
    color: var(--color-secondary);
    white-space:nowrap;
    margin: 0 20px;
}

.video--item {
    padding: 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contato--item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.contato--item-left {
    color: var(--color-text-dark);
    font-size: 25px;
    font-weight: 300;
    margin-left: 50px;
}
.contato--item-right{
    margin-right: 50px;
    display: flex;
    flex-direction: column;


}
.contato--right-item {
    margin: 10px;
    display: flex;

}
.contato--right-item-link {
    display: flex;
    text-decoration: none;
    color: var(--color-text-dark);
}
.contato--right-item-img {
    width: 40px;
    height: 40px;
}

.contato--right-item-text {
    font-size: 25px;
    font-weight: 200;
    margin-left: 10px;
}


.sobre--area {
    height: auto;
}
.sobre--item-area {
    display: grid;
    row-gap: 15px;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 20px;
}

.sobre-item {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    height: 150px;
    text-align: center;
    border: 1px solid black;
    border-radius: 30px;
    padding: 10px;
    box-shadow: 0px 4px 5px rgb(22, 22, 22);
}
.sobre-item-img {
    width: 72px;
    height: 72px;
}
.item-text {
    font-size: 14px;
    font-weight: 400;
}

.contato--area {
    height: auto;
}

.perguntas--area {
    vertical-align: middle;
    min-height: 300px;
}
.perguntas--item-area {
    margin: 10px 0;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    height: auto;
}
.perguntas-item {
    background-color: var(--color-secondary);
    width: 450px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin-bottom: 10px;
    height: 50px;
    cursor: pointer;
    border-radius: 10px;
    user-select: none;
}
.perguntas-item:hover {
    color: var(--color-secondary);
    background-color: var(--color-text-aux);
}
.perguntas-item-text {
    user-select: none;
    font-size: 20px;
    font-weight: 300;
    color: var(--color-text-light);
}
.perguntas-item:hover .perguntas-item-text {
    color: var(--color-secondary);
}

.perguntas-item:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.perguntas--answer {
    margin-top: -10px;
    margin-bottom: 10px;
    padding: 15px 18px;
    background-color: var(--color-answer);
    color: var(--color-text-dark);
    font-size: 20px;
    font-weight: 300;
    display: none;
    max-width: 450px;
    overflow: hidden;
    border-radius: 10px;
    transition: 0.9s;
}

.sticky {
    position: fixed;  
    top: 0;  
    width: 100%  
}
  
/* Add some top padding to the page content to prevent sudden quick movement */
.sticky + .content {
    padding-top: 102px;
}
.footer {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--color-secondary);
    color: var(--color-text-light);
    width: 100%;
    font-size: 15px;
    font-weight: 200;
}
.footer span {
    font-size: 10px;

}
.footer-dev {
    color: var(--color-text-light);
    text-decoration: none;
}
.footer-calc {
    background-color: #042952;
}

.comprar-modal {
    display: none;
    background-color: rgba(0, 0, 0,0.8);
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow:auto;
}
.comprar-modal:target {
    opacity: 1;
    pointer-events: auto;
}
.comprar-modal > div {
    width: 700px;
    position: relative;
    margin: 10% auto;
    padding: 15px 20px;
    background: #fff;
  }
.comprar--area {    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 670px;
    background-color: var(--color-primary);
    padding: 20px 15px;
}
.comprar-fechar-modal {
    width: 30px;
    height: 30px;
    text-align: center;
    border: none;
    position: absolute;
    margin: 10px;
    right: -25px;
    top: -25px;
    background-color: var(--color-secondary);
    border-radius: 50%;
    cursor: pointer;
}
.comprar-fechar-modal-item {
    line-height: 40px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}

.comprar--text {
    font-size: 20px;
    font-weight: 200;
}
.comprar--text-center {
    margin: 10px 20px;
    display: flex;
    justify-content: space-around;
    width: 100%;
        font-size: 12px;
}
.comprar--text-bold {
    margin-top: 10px;
    font-weight: 400;
}
.comprar--text-wallet {
    font-weight: 400;
    resize: none;
    width: 100%;
}

.comprar--text-img {
    cursor: pointer;  
    width: 80px;
}
.comprar--text-p {
    margin: 10px 0;
}
.comprar--text-p > span{
    font-weight: bold;
}
.comprar--buttons-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
}
.comprar--buttons-bottom-item {
    padding: 10px;
}
.alert-copy {
    position: absolute;
    display: none;
    border-radius: 50px;
    padding: 10px 15px;
    background-color: var(--color-secondary);
    color: var(--color-primary);
    font-size: 13px;
    font-weight: 300;
}

.entorno {
    background-color: var(--color-primary);
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
    border-radius: 50px;
    border: none;
    /*box-shadow: 0px 4px 5px rgb(22, 22, 22);*/

}
.gas {
    color: #1147A3;
    margin: 10px;
    text-align: center;
}
.gas-text {
    font-size: 16px;
    font-weight: 400;
    padding: 20px;
}
.gwei {
    color: #1147A3;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px;
}
.resultado-calc {
    margin: 20px;
    width: 200px;
    word-wrap: break-word;
    text-align: center;
}
.buttom-calc {
    font-size: 14px;
    font-weight: 300;
    padding: 6px 20px;
    box-shadow: 0px 2px 3px rgb(22, 22, 22);
}
.button-submit {
    width: auto;
    height: auto;
    margin: 20px;
    padding: 5px;
}

.text-calc {
    color: var(--color-text-light);
    font-size: 20px;
    font-weight: 200;
    margin: 50px 30px 20px;
}


@media (max-width: 1024px) {
    .container {
        padding: 20px;
    }
}
@media (max-width: 960px) {
    .contato--item-left, .contato--right-item-text{
        font-size: 20px;
    }
    
    .perguntas-item, .perguntas--answer {
        width: 400px;
    }
    .perguntas-item-text, .perguntas--answer {
        font-size: 16px;
    }
    .sobre--item-area {
        max-width: 90%;
        margin: auto;
    }
    .sobre-item {
        max-width: 200px;
        margin: 0 10px;
    }
}
@media (max-width: 850px) {
    .inicio--center-left {
        width: auto;
        padding-left: 20px;
    }
    .perguntas-item, .perguntas--answer {
        width: 350px;
    }
    .perguntas-item-text, .perguntas--answer {
        font-size: 16px;
    }
    .comprar-teste {
        display: none;
    }
    
    .header--menu-list-item {
        padding-left: 20px;
    }
    .comprar-modal > div {
        max-width: 90vw;
    }
}
@media (max-width: 775px) {
    .container {
        max-width: 100vw;
    }
    .inicio--center-right > img{
        width: 100%;
    }
    .inicio--center-right {
        text-align: center;
    }
    .contato--item {
        flex-direction: column;
    }
    .contato--item-right {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 0;
    }
    .contato--item-left {
        margin: 0;
    }

    .sobre--item-area {
        max-width: 90%;
        grid-template-columns: 1fr 1fr;
    }
    .inicio--text-h2 {
        font-size: 35px;
    }
    
}



@media (max-width: 715px) {
    .header--menu {
        display: none;
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        top: 60px;
        height: 400px;
        width: auto;
    }
    .header--menu-list {
        height: 300px;

        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .comprar-modal {
        z-index: 999;
    }
    .header--menu-icon-area {
        display: inline;
    }
    .button-comprar {
        text-align: center;
        justify-content: center;
    }
    .header--area {
        display: flex;
        max-width: calc(100vw - 20px);
        justify-content: space-evenly;
        padding: 0px 20px;
        margin-top: 10px;
    }
    .header--logo {
        width: 100%;
    }
    
    .header--menu-list-item {
        padding: 20px 0;
    }
    .perguntas-item, .perguntas--answer {
        width: 250px;
    }
    .perguntas-item-text, .perguntas--answer {
        font-size: 13px;
    }

    .footer {
        font-size: 15px;
    }
    .comprar--text {
        margin: 0;
    }
    .comprar--text-center {
        width: auto;
        margin: auto;
        white-space: normal;
    }
    .comprar--text-bold {
        font-size: 20px;
        white-space: normal;
        width: 80%;
    }
    .comprar--text-wallet {
        word-wrap: break-word;
        text-align: center;
        font-size: 18px;
        padding: 0 10px;
    }
    
}

@media (max-width: 700px) {
    .sobre--item-area {
        max-width: 90%;
        margin: auto;
    }
   
    .inicio--center-left {
        font-size: 15px;
    }
    .inicio--text-h3 {
        font-size: 25px;
        font-weight: 200;
    }
    .inicio--text-h2 {
        font-size: 25px;
        font-weight: 400;
    }
    .inicio--text-p ,.inicio--text-h1 {
        
        font-size: 20px;
        font-weight: 200;
    }

}

@media (max-width: 550px) {
    .inicio--center {
        flex-direction: column-reverse;
        justify-content: space-evenly;
        align-items: center;
    }
    .inicio--center-left {
        text-align: center;
    }
    .inicio--text-h3 {
        font-size: 30px;
        font-weight: 200;
    }
    .inicio--text-h2 {
        font-size: 30px;
        font-weight: 400;
    }
    .inicio--text-p ,.inicio--text-h1 {
        
        font-size: 23px;
        font-weight: 200;
    }
    .inicio--center-right > img{
        width: 80%;
    }
    .contato--item-right {
        margin: 0;
    }
    .sobre--item-area {
        grid-template-columns: 1fr;
    }
    .comprar--text {
        font-size: 15px;
    }
    .comprar--text-bold {
        font-size: 18px;
    }
    .comprar--text-center {
        font-size: 15px;
        word-wrap: break-word;
    }
    .comprar--text-wallet {
        word-wrap: break-word;
    }
}

@media (max-width: 500px) {
    .perguntas--item-area {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .perguntas--left, .perguntas--right, .perguntas-item, .perguntas--answer {
        text-align: center;
    }
    .contato--item-left {
        font-size: 18px;
    }
    .contato--right-item-text {
        font-size: 20px;
    }
    .contato--item-right {
        grid-template-columns: 1fr;
    }
    .bar {
        display: none;
    }
    .section-top {
        justify-content: center;
    }
    .video--item {
        height: 350px;
    }
    .video--item > iframe{
        display: flex;
        justify-content: center;
        width: 400px;
        height: 300px;
        margin: 0;
        padding: 0;
    }
}
@media (max-width: 425px) {
    .comprar--text, .comprar--text-center {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        font-size: 14px;
    }
    .comprar--text-bold {
        font-size: 15px;
    }
    .comprar--text-center {
        width: 50vw;
    }
    .contato--right-item-img {
        height: 30px;
        width: 30px;
    }
    .alert-copy {
        position: relative;
        margin: auto;
        right: 0;
    }
}
@media (max-width:350px) {
    .sobre--item-area {
        grid-template-columns: 1fr;
    }
    .section--title:nth-last-child() {
        font-size: 30px;
    }

    .entorno {
        padding: 10px 10px;
        height: auto;

    }
}
